@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #ffffff;
}

.discountBar {
  display: flex;
  height: 38px;
  background: #1cd1b0;
  padding-left: 10px;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
}

header {
  display: flex;
  align-items: center;
  padding-left: 28px;
  height: 101px;
  background: #00669f;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  font-size: 40px;
  line-height: 47px;
  z-index: 10;
}

main {
  display: flex;
  width: 834px;
  margin: auto;
  margin-top: 85px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 374px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 150px;
}

.arlequina {
    background-image: url('../img/headerCard02.png');
    background-repeat: no-repeat;
}

.batman {
    background-image: url('../img/headerCard01.png');
    background-repeat: no-repeat;
}

.like__button {
  display: inline-block ;
  position: relative;
  top: 18px;
  left: 24px;
  cursor: pointer;
}

.cardContent {
  margin-top: 110px;
}

.cardHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardHeader img {
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cardHeader span {
  margin-top: 23px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.cardDescription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardDescription span {
  width: 300px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  min-height: 120px;
}

.cardButton {
  margin: auto;
  display: flex;
  width: 145px;
  height: 54px;
  background: #00669f;
  margin-top: 23px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 50px;
}

.cardButton span {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #f3f3f3;
}

footer {
  display: flex;
  padding-left: 28px;
  height: 51px;
  background: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff9f9;
  align-items: center;
}